ul {
	list-style: none;
}                   

h1 {
	font-size: 70px;
	color: #2b9ea6;
}        

.container {
	width: 900px;
}                 

.idea {
	color: #c1d430;
	font-size: 16px;
}

.tile {
	margin-bottom: 10px;
	min-height: 100px;              
	padding: 0px;
	border: 1px solid #95A5A6;
}                

.tile h6 {
	margin-top: 20px;
}          

.tile p {                 
	font-size: 24px;
	margin: 0px !important;
	float: none !important;
}   

.tile section div {
	width: 100%;
}               

.tile section div label {
	padding-top: 7px;
	font-weight: bold;
	font-size: 16px;
}

.tile section div textarea {
	width: 80%;
	height: 35px;
	margin-left: 10px;
}

.vote {
	background-color: #D35400;
	float: left;
	margin-left: 0px;
	color: white;
	height: 100px;   
	margin-bottom:0px !important;
}              

p {
	text-align: center;
}   

.prompt {
	float: left;
	margin-right: 10px;
}

.pagination {
	margin-left: 70.5%;
	margin-top: 10px;
}

#addIdea form {
	padding: 20px;
}
 
#addIdea textarea {
	margin-bottom: 10px;
}

#addIdea form input[type=submit] {
	margin-top: 10px;
	width: 20%;
	margin-left: 80%;
}