ul {
	list-style: none;
}                   

h1 {
	font-size: 70px;
	color: #2b9ea6;
}        

.container {
	width: 900px;
}                 

.idea {
	color: #c1d430;
	font-size: 16px;
}

.tile {
	margin-bottom: 10px;
	height: 100px;
}

.vote {
	color: #D35400;
	float: left;     
	margin-left: 0px;
}              

p {
	float: left;
	margin-left: 50px;
}